@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Mono);

@color-2nd: GhostWhite;
@color-3rd: Gainsboro;

*, *:before, *:after{
	box-sizing:border-box;
}

*:focus{
	outline:none;
}

a{
	text-decoration:none;
	color:inherit;
}

/* b{
  font-size: larger;
  text-transform: uppercase;

} */


body {
  /* border: 1px solid white; */
  width: 500px;
  height: 400px;
  padding: 1px;
  color: #e9ecef;
  background-color: #0c1116;
  font-family: sans-serif;
  object-fit: fill;
  font-family: "Poppins", sans-serif;

  /* text-align: center; */
}

.nav {
  height: 43px;
  margin: 0px;
}

#pills-tab {
  margin: 0px;
}

.nav-tabs {
  border-bottom: 3px solid #0c1116;
}

.nav-item {
  height: 43px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .custom-tab {
  align-items: center;
  color: #fff;
  padding: 0%;
  font-size: 24px;
  text-transform: uppercase;
  background: none;
  border-color: #0c1116;
  border-bottom: 3px solid #21262d;
  height: 43px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .custom-tab:hover {
  color: #fff;
  background: none;
  border-color: #0c1116;
  border-bottom: 3px solid #21262d;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .custom-tab.active {
  color: #fff;
  background: none;
  border-color: #0c1116;
  border-bottom: 3px solid #2eb6f9;
  height: 43px;
}

.tab-content {
  margin-top: 10px;
}

.contest-time{
  padding: 0px 10px 0px 10px;
}

#upcoming,
#ongoing,
#today {
  width: 130px;
  height: 40px;
  border-radius: 44px;
  text-transform: uppercase;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.contest-filter {
  border-bottom: 2px solid #21262d;
}

.bootstrap-select .bs-ok-default::after {
  width: 0.3em;
  height: 0.6em;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
  outline: none !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}



.btn.dropdown-toggle {
  
  height: 40px;
  text-align: center;
}

.srhEl{
  margin-left: 30px;
  width: 80%;

}

.filter{
  position: relative;
  right: 17px;
  /* border: 1px solid white; */
  background-color: white;
  margin-right: 10px;
  border-left: 1px solid black;
  border-radius: 0px 40px 40px 0px;
  height: 40px;
  width: 50px;
}

#filter-btn {
  
  align-items: center;
  cursor: pointer; 
  padding: 5px 0px 0px 5px;
  width: 40PX;
  height: 36px; 
  
}


#contest-details {
  height: 200px;
  border-top: 1px solid #00B1FD;
  border-bottom: 1px solid #00B1FD;
  overflow-x: hidden;
  overflow-y: scroll;
}
#contest-details::-webkit-scrollbar {
  /* display: none; */
  width: 4px;
  

}
#contest-details::-webkit-scrollbar-track {
  box-shadow: none;
}

#contest-details::-webkit-scrollbar-thumb {
  background-color: #00B1FD;
  border-radius: 2px;
  
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

#search-bar {
  display: flex;
  flex-direction: row;
  width: 95%;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-bottom: 10px;
}

#contest-platform {
  width: 300px;
}
.dropdown-menu{
  max-height: 190px;
}


.contribute{
  height: 30px;
  padding-top: 6px;
  
  
}

/* collapse feature */

.collapsible:focus {
  outline: none !important;
}

.collapsible {
  width: 100%;
  cursor: pointer;
  outline: transparent;
  border-bottom: 1px solid #4287f5;
  /* outline: 1px solid white;   */
  background-color: transparent;
}

.content {
  padding: 0 18px;
  border: 1px solid white;
  /* display: none; */
  overflow: hidden;
  color: #050505;
  background-color: #00baf3;
}

/* end */

#icon-size {
  height: 28px;
  width: 27px;
}
.content-bar {
  margin: 0px 3px 0px 3px;
  padding: 10px 0px 5px 0px;
  
}



.content-bar > div {
  color: rgb(237, 238, 241);
  
  padding: 0%;

  text-align: center;
  
}

/* traun's code */

.after-click {
  color: #fff;
  background-color: #007bff;
}

.btn:focus {
  box-shadow: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}
:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515c6f;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}



/* Sohail's code */

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  /* font-size: 13px; */
}

.input-form {
  margin: 0px 40px 0px 80px;
}

#submitBtn {
  margin-left: -4px;
  /*width: 90px;*/
  border-radius: 0px 20px 20px 0p;
  /* height: 41px; */
}

input[type="text"] {
  /* margin-right: 40px; */
  height:40px;
  border-radius: 20px 0px 0px 20px;
  background-color: #f1f1f1;
  width: 100%;
  
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  border-radius:0px 20px 20px 0px;
  
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  height: 280px;
  overflow-y: scroll;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-top:2px;
  border-radius:5px;
  width:283px;
}
.autocomplete-items::-webkit-scrollbar {
  display: none;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  color: black;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/*Written by sohail  */

.myclass {
  /* border: 2px solid red; */
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

#container1 {
  height: 250px;
  overflow-y: scroll;
  /*margin-top: 25px;*/
}

#container1::-webkit-scrollbar {
  display: none;
}

/* Code Editor Code By sohail */



/* For Algorithm */
.window {
  width: 450px;
  background: #264653;
  border-radius: 0.3rem;
  /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}
.window .window-header {
  height: 30px;
  background: #7ED8FF;
  position: relative;
}
.window .window-header .action-buttons {
  position: absolute;
  /*top: 50%;*/
  left: 10px;
  /*margin-top: -5px;*/
  height: 10px;
  /*
  width: 10px;
  
  background: Crimson;
  border-radius: 50%;
  box-shadow: 15px 0 0 Orange,
				30px 0 0 LimeGreen;*/
}
.window .window-body {
  position: relative;
  height: 300px;
  overflow-y: scroll;
}
.window .window-body::-webkit-scrollbar {
  display: none;
}
.window .window-body .code-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  /*font-family: 'PT Mono', monospace;*/
  font-size: 0.8rem;
  background: whitesmoke;
  white-space: pre-wrap;
  line-height: 1.5em;
  word-wrap: break-word;
}
.window .window-body .code-input {
  opacity: 1;
  margin: 0;
  color: black;
  resize: none;
}
.code-input::-webkit-scrollbar {
  /* display: none; */
  width: 4px;
  

}
.code-input::-webkit-scrollbar-track {
  box-shadow: none;
}

.code-input::-webkit-scrollbar-thumb {
  background-color: #00B1FD;
  border-radius: 2px;
  
}

#codeEdi{
  height:260px;
}
.carousel-control-prev{
  left: -25px;
  width: 20px;
}
.carousel-control-next{
  right: -25px;
  width: 20px;
}

/*Algorithm Header CSS*/

.algo-header{
  width:100%;
  justify-content: space-around;
}

.Link{
  height:17px;
  width: 18px;
  margin-left: -60px;
  margin-top: 6px;
}

.copy{
  height:17px;
  width: 18px;
  margin-right: -40px;
  margin-top: 6px;
}
.filter{
  position: relative;
  right: 17px;
  /* border: 1px solid white; */
  background-color: white;
  margin-right: 10px;
  border-left: 1px solid black;
  border-radius: 0px 40px 40px 0px;
  height: 40px;
  width: 50px;
}

.filter-search{
  align-items: center;
  cursor: pointer; 
  padding: 5px 0px 0px 5px;
  width: 40PX;
  height: 36px; 
}

.tootip01 {
  display: none;
  right: 35px;
  height: 32px;
  padding: 5px 12px;
  background-color: #00B1FD;
  border-radius: 4px;
  color: #fff;
  position: fixed;
  top: 130px;
  z-index: 9;
}

.nothing{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}